# ======================================
# Output file with Figures
# ======================================
/Figures/*


# ======================================
# Python and MAC
# ======================================
.venv/
.DS_Store